header { 
    padding: 2rem;
    min-height: 10vh;
    background-color: #c53afc;
}
nav {
    padding: .5 rem;
    min-height: 3vh;
    background-color: #f54242;
}
main {
    padding: 2rem;
    min-height: 70vh;
    background-color: #0dcaf0;
}
footer {
    padding: .5 rem;
    min-height: 1vh;
    background-color: #ffc02e;
}

@media (min-width: 576px) {
    header { 
        padding: 2rem;
        min-height: 10vh;
        background-color: #c53afc;
    }
    nav {
        padding: .5 rem;
        min-height: 3vh;
        background-color: #f54242;
    }
    main {
        padding: 2rem;
        min-height: 70vh;
        background-color: #0dcaf0;
    }
    footer {
        padding: .5 rem;
        min-height: 1vh;
        background-color: #ffc02e;
    }
}